:root {
  /* Coolors Exported Palette - coolors.co/5fad56-f2c14e-f78154-4d9078-b4436c */
  --color1: rgba(95, 173, 86, 1);
  --color2: rgba(242, 193, 78, 1);
  --color3: rgba(247, 129, 84, 1);
  --color4: rgba(77, 144, 120, 1);
  --color5: rgba(180, 67, 108, 1);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  font-size: xx-large;
  background-color: rgba(245, 245, 245, 0.5);
}

.section, .table {
  background-color: transparent;
}

.tag {
  font-size: 10px;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.avatar > img {
  border-radius: 25px;
  box-shadow: 0px 1px 1px #888888;
}